
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v5mk93');
  src:  url('../fonts/icomoon.eot?v5mk93#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v5mk93') format('truetype'),
    url('../fonts/icomoon.woff?v5mk93') format('woff'),
    url('../fonts/icomoon.svg?v5mk93#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fish:before {
  content: "\e900";
  color: #fff;
}
.icon-left-arrow:before {
  content: "\e901";
}
.icon-pan:before {
  content: "\e902";
  color: #fff;
}
.icon-right-arrow:before {
  content: "\e903";
}
.icon-shrimp:before {
  content: "\e904";
  color: #fff;
}

